# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.exp
*.pdb

*.suo
*.db
*.opendb

# ShaderBin
*.dx12cps
*.dx12ied

#fontfile
*.ttc

*.ini
*.zip

.vs/
Temp/
output/
ButiEngine_User/Resources/Model/
ButiEngine_User/Resources/Texture/
ButiEngine_User/Resources/Sound/
ButiEngine_User/Resources/Motion/
ButiEngine_User/Resources/Material/

Libs/Library/cereal/
Libs/Library/imGUI/